{% extends "content/base.html" %}

{% block title %}Impressum{% endblock %}

{% block content %}
<article class="article legal-page">
  <header class="article-header container">
    <h1>Impressum</h1>
  </header>

  <div class="container article-body legal-content">
    <section aria-labelledby="angaben">
      <h2 id="angaben">Angaben gem&auml;&szlig; &sect; 5 TMG</h2>
      <address>
        Sebastian Christoph<br>
        c/o POSTFLEX PFX-796-792<br>
        Emsdettener Stra&szlig;e 10<br>
        48268 Greven
      </address>
    </section>
  </div>
</article>
{% endblock %}
